.overlay-shade {
  display: grid;
  place-items: center;
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.ready-check-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 3rem 0;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  background-color: white;

  .ready-check-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .button-users {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0;

    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      width: 1.75rem;
      border-radius: 4px;
      border: 1px solid black;
      padding: 0.25rem;
      background-color: white;

      &.ready {
        background-color: mediumaquamarine;
      }

      &.not-ready {
        background-color: tomato;
      }
    }
  }

  .button-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;

    .button {
      border: 2px solid black;
      padding: 8px 16px;
      box-shadow: 2px 2px 0 black;
      border-radius: 4px;
      font-weight: 600;
      text-align: center;
      transition: scale 0.2s ease-in-out;

      &:hover {
        scale: 1.1;
      }
    }

    .accept {
      background-color: mediumaquamarine;
    }

    .decline {
      background-color: tomato;
    }
  }
}
