.game-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 2rem;
  position: relative;
}

.game-form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}
