.multiplayer-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex: 1;
}

.big-layout {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 2rem;

  .boards {
    padding: 0;
  }
}

.boards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: auto 1fr;
  gap: 2rem;
  width: 100%;
  padding: 2rem;

  &.two-by-two-columns {
    grid-template-columns: repeat(2, 15rem);
    grid-template-rows: auto auto;
    place-content: center;
  }
  &.three-columns {
    grid-template-columns: repeat(3, 1fr);
  }
  &.four-columns {
    grid-template-columns: repeat(4, 1fr);
  }
  &.five-columns {
    grid-template-columns: repeat(5, 1fr);
  }
  &.six-columns {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
  }
}

.join-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.join-button {
  display: grid;
  place-content: center;
  height: 12rem;
  width: 12rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
}
